<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>12</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-222</integer>
        <key>width</key>
        <integer>6</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>438</integer>
        <key>width</key>
        <integer>6</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>639</integer>
        <key>width</key>
        <integer>3</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>Y: 18</key>
      <dict>
        <key>width</key>
        <integer>18</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>70</key>
          <integer>2</integer>
          <key>116</key>
          <integer>3</integer>
          <key>177</key>
          <integer>4</integer>
          <key>238</key>
          <integer>5</integer>
          <key>306</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 22</key>
      <dict>
        <key>width</key>
        <integer>22</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>70</key>
          <integer>2</integer>
          <key>116</key>
          <integer>3</integer>
          <key>177</key>
          <integer>4</integer>
          <key>186</key>
          <integer>5</integer>
          <key>250</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 24</key>
      <dict>
        <key>width</key>
        <integer>24</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>70</key>
          <integer>2</integer>
          <key>116</key>
          <integer>3</integer>
          <key>136</key>
          <integer>4</integer>
          <key>186</key>
          <integer>5</integer>
          <key>230</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 28</key>
      <dict>
        <key>width</key>
        <integer>28</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>70</key>
          <integer>2</integer>
          <key>116</key>
          <integer>3</integer>
          <key>136</key>
          <integer>4</integer>
          <key>186</key>
          <integer>5</integer>
          <key>197</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>Y: 20</key>
      <dict>
        <key>width</key>
        <integer>20</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>70</key>
          <integer>2</integer>
          <key>116</key>
          <integer>3</integer>
          <key>177</key>
          <integer>4</integer>
          <key>238</key>
          <integer>5</integer>
          <key>275</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 72</key>
      <dict>
        <key>width</key>
        <integer>72</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>24</key>
          <integer>2</integer>
          <key>39</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>61</key>
          <integer>5</integer>
          <key>77</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 60</key>
      <dict>
        <key>width</key>
        <integer>60</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>24</key>
          <integer>2</integer>
          <key>39</key>
          <integer>3</integer>
          <key>63</key>
          <integer>4</integer>
          <key>80</key>
          <integer>5</integer>
          <key>92</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 82</key>
      <dict>
        <key>width</key>
        <integer>82</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>24</key>
          <integer>2</integer>
          <key>39</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>61</key>
          <integer>5</integer>
          <key>68</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 71</key>
      <dict>
        <key>width</key>
        <integer>71</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>24</key>
          <integer>2</integer>
          <key>39</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>61</key>
          <integer>5</integer>
          <key>78</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 112</key>
      <dict>
        <key>width</key>
        <integer>112</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>14</key>
          <integer>2</integer>
          <key>23</key>
          <integer>3</integer>
          <key>32</key>
          <integer>4</integer>
          <key>41</key>
          <integer>5</integer>
          <key>50</key>
          <integer>6</integer>
        </dict>
      </dict>
      <key>X: 53</key>
      <dict>
        <key>width</key>
        <integer>53</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>24</key>
          <integer>2</integer>
          <key>39</key>
          <integer>3</integer>
          <key>63</key>
          <integer>4</integer>
          <key>80</key>
          <integer>5</integer>
          <key>104</key>
          <integer>6</integer>
        </dict>
      </dict>
    </dict>
  </dict>
</dict>
</plist>
